{% if form.non_field_errors %}
    <div class="alert alert-danger mb-4">{{ form.non_field_errors }}</div>
{% endif %}
<form action="{% url 'template_add' %}" method="post" class="card mb-4">
    {% csrf_token %}

        <h5 class="card-header">Add new template</h5>

        <div class="card-body">
            {% include 'bootstrap_form_fields.html' %}

            <button class="btn btn-primary" type="submit">Save new template</button>
        </div>
</form>