{% load absoluteurl %}{% load urlencode %}
<div class="card bg-light p-3 mb-4">
    <div class="form-group m-0">
        <label for="result_permalink_input">Permalink to this result <a href="#" id="permalink_tooltip" class="yadg_tooltip" title="You should not use the direct URL to this result (/result/xxx-xxx-xxx-xxx-xxx) because those are purged periodically. So linking directly to this page will most likely result in a link that is invalid after a short time. Instead you should use the permalink below. It will always initiate the exact same search that brought you here.">[?]</a>:</label>
        <input class="form-control" readonly="readonly" type="text" value="{% absolute_url request "index" %}?{{ additional_data|real_urlencode }}" id="result_permalink_input" />
    </div>
</div>