{% extends "base_with_form.html" %}

{% block title %}Search result – {% endblock %}

{% block subcontent %}
    {% if result.get_items %}
        <div class="card bg-light pt-3 px-3 mb-4">
            <ul id="release_list" class="m-0 list-unstyled">
                {% for item in result.get_items %}
                <li class="mb-3">
                    <a href="{% url 'index' %}?input={{ item.get_query|urlencode:"" }}&scraper={% if item.get_query_scraper %}{{ item.get_query_scraper|urlencode:"" }}{% else %}{{ result.get_scraper_name|urlencode:"" }}{% endif %}">{{ item.get_name }}</a>
                    {% if item.get_info %}
                        <br />
                        <small class="bg-secondary text-white p-1 rounded">{{ item.get_info }}</small>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <div class="alert alert-danger mb-4">Sorry, there were no matches.</div>
    {% endif %}

    {% include "result/perma_link.html" %}
{% endblock %}