{% extends "base.html" %}

{% block title %}Please wait – {% endblock %}

{% block additionalHeaders %}<meta http-equiv="refresh" content="1" />{% endblock %}

{% block content %}
    <div class="alert alert-info mb-4">
        <p>We are currently fetching the data. Please wait.</p>

        <p class="mb-0">If this site is not refreshing automatically, click <a href="{{ request.path }}">here</a>.</p>
    </div>
{% endblock %}