{% extends "base_with_form.html" %}

{% block additionalHeaders %}{{ block.super }}
    {% include 'sandbox_rendering_headers.html' %}

    <script type="text/javascript">
    $(document).ready(function() {
        var success_callback = function (description) {
                $("textarea#description_area").text(description);
            },
            failure_callback = function(message) {
                $("textarea#description_area").text((message) ? "Error: " + message : "Error: Could not parse your template.");
            };

        {% include 'sandbox_rendering.js' %}
     });
    </script>
{% endblock %}

{% block title%}{{ release_title }} – {% endblock %}

{% block subcontent %}
    <div class="card bg-light p-3 mb-4">
        <textarea class="w-100 form-control mb-3" style="min-height: 30rem;" id="description_area">Please enable JavaScript for this site to be able to see the result.</textarea>

        <div class="row">
            {% if request.user.is_authenticated %}
                <div class="col-auto mb-3 mb-lg-0">
                    <a href="{% url 'scratchpad' result_id %}?template={{ template.pk }}" class="btn btn-secondary">Go to scratchpad</a>
                </div>
            {% endif %}
            <div class="col-12 col-lg-auto ml-lg-auto mt-lg-0">
                {% include "format_form.html" %}
            </div>
        </div>
    </div>

{% if not user.is_authenticated %}
    <div class="row">
        <div class="col-12 col-lg-9">{% include "result/perma_link.html" %}</div>
        <div class="col-12 col-lg-3"><div class="alert alert-info mb-4"><strong>Heads up!</strong> There are quite a few advantages to <strong><a href="{% url 'register' %}">registering an account</a></strong>. Among other things you gain the ability to
            <ul class="m-0">
                <li>create your own templates</li>
                <li>choose the template that is selected by default</li>
            </ul>
        </div></div>
    </div>
{% else %}
    {% include "result/perma_link.html" %}
{% endif %}
{% endblock %}