{% extends "base.html" %}

{% block home_li_tags %}{% endblock %}

{% block scratchpad_li_tags %} active{% endblock %}

{% block additionalHeaders %}
    {{ scratchpadform.media }}

    {% include 'sandbox_rendering_headers.html' %}

    <script type="text/javascript">
        $(document).ready(function() {
            var success_callback = function (description) {
                    $("textarea#render_result").text(description);
                },
                failure_callback = function(message) {
                    $("textarea#render_result").text((message) ? "Error: " + message : "Error: Could not parse your template.");
                };

            {% include 'sandbox_rendering.js' %}

            template_code_editor.on("changes", function() {
                var template = template_code_editor.getValue();

                sandbox.eval(eval_string, success_callback, {template: template, data: data}, failure_callback);
            });

            $('#action_new_template').click(function(e) {
                e.preventDefault();
                var form = $('#scratchpad_form');

                form.attr('action', '{% url 'template_from_scratchpad' %}');
                form.submit();
            });

            {% if template.owner_id == request.user.pk %}
            $('#action_edit_template').click(function(e) {
                e.preventDefault();
                var form = $('#scratchpad_form');

                form.attr('action', '{% url 'template_from_scratchpad' template.pk %}');
                form.submit();
            });
            {% endif %}

            $('#show_raw_data').click(function(e) {
                e.preventDefault();

                var toShow = $('#raw_data');

                if (toShow.is(":visible")) {
                    $(this).text('Show raw data');
                    toShow.hide();
                } else {
                    $(this).text('Hide raw data');
                    toShow.show();
                }
            });
        });
    </script>
{% endblock %}

{% block title %}Scratchpad – {% endblock %}

{% block content %}
    <h2 class="mb-4">Scratchpad <small class="text-muted">for release: <a href="{% url 'get_result' id %}">{{ release_title }}</a></small></h2>

<div class="card bg-light mb-4">
    <h5 class="card-header">{{ scratchpadform.template_code.label }}</h5>
    <div class="card-body">
        <form method="post" id="scratchpad_form">
            {% csrf_token %}
            {{ scratchpadform.template_code }}
        </form>

        <div class="row mt-3">
            <div class="col-12 col-lg-auto ml-lg-auto mt-lg-0">
                {% include "format_form.html" %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-lg-8 mb-4">
        <div class="card bg-light">
            <div class="card-header">
                <div class="row">
                    <h5 class="col-12 col-sm-auto m-0">Preview:</h5>
                    <a href="#" id="show_raw_data" class="col-12 col-sm-auto ml-auto mt-3 mt-sm-0">Show raw data</a>
                </div>
            </div>
            <div class="card-body">
                <textarea id="render_result" class="form-control mb-3" readonly style="min-height: 30rem;"></textarea>
            </div>
        </div>
        <div id="raw_data" style="display: none;" class="card bg-light mt-4">
            <h5 class="card-header">Raw data:</h5>
            <div class="card-body"><pre class="m-0">{{ pretty_printed_data }}</pre></div>
        </div>
    </div>
    <div class="col-12 col-lg-4 mb-4">
        <div class="card bg-light" id="actions">
            <h5 class="card-header">Actions:</h5>
            <div class="card-body pt-0">
                <a class="btn btn-primary mt-3 mr-3" href="#" id="action_new_template">Apply as new</a>
                {% if template.owner_id == request.user.pk %}
                    <a class="btn btn-secondary mt-3 mr-3" href="#" id="action_edit_template">Apply changes</a>
                    <a class="btn btn-danger mt-3 mr-3" href="{% url 'template_edit' template.pk %}">Discard and edit</a>
                {% endif %}
                <a class="btn btn-danger mt-3" href="{{ request.path }}?template={{ template.pk }}">Discard</a>
            </div>
        </div>
        {% if immediate_dependencies %}
            <div class="mt-4">
                {% include 'scratchpad/dependency_codes_scratchpad.html' %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}