{% extends "base_with_form.html" %}

{% block home_li_tags %}{% endblock %}

{% block scratchpad_li_tags %} active{% endblock %}

{% block title %}Error – {% endblock %}

{% block subcontent %}
<div class="alert alert-danger mb-4">
    <strong>Error!</strong> There is no release in the database that could be used in the scratchpad currently. Just search for one via the input box above and try again.
</div>
{% endblock %}