<nav>
    <ul class="pagination justify-content-center m-0">
        {% if page_obj.has_previous %}<li class="page-item"><a class="page-link" href="{{ base_url }}page={{ page_obj.previous_page_number }}">←</a></li>{% endif %}
        {% if show_first %}<li class="page-item"><a class="page-link" href="{{ base_url }}page=1">1</a></li>
        <li class="page-item disabled"><span class="page-link">...</span></li>{% endif %}
        {% for num in page_numbers %}
        <li class="page-item {% if page_obj.number == num %}active{% endif %}"><a class="page-link" href="{{ base_url }}page={{ num }}">{{ num }}</a></li>
        {% endfor %}
        {% if show_last %}<li class="page-item disabled"><span class="page-link">...</span></li>
        <li class="page-item"><a class="page-link" href="{{ base_url }}page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>{% endif %}
        {% if page_obj.has_next %}<li class="page-item"><a class="page-link" href="{{ base_url }}page={{ page_obj.next_page_number }}">→</a></li>{% endif %}
    </ul>
</nav>
