{% extends "base.html" %}

{% block title %}Register – {% endblock %}

{% block home_li_tags %}{% endblock %}

{% block register_li_tags %} active{% endblock %}

{% block content %}
    <form action="{% url 'register' %}" method="post" class="card mb-4">
        {% csrf_token %}

        <h5 class="card-header">Register new account</h5>

        <div class="card-body">
            {% include 'bootstrap_form_fields.html' %}

            <button class="btn btn-primary" type="submit">Register</button>
        </div>
    </form>
{% endblock %}