{% extends "base.html" %}

{% block title %}My subscriptions – {% endblock %}

{% block home_li_tags %}{% endblock %}

{% block subscriptions_li_tags %} active{% endblock %}

{% if is_paginated %}{% load paginator %}{% endif %}

{% block content %}
    <h2 class="mb-4">My subscriptions</h2>

    {% if is_paginated %}<div class="mb-4">{% paginator 2 %}</div>{% endif %}
    {% if subscriptions %}
        <div class="table-responsive mb-4">
            <table class="table table-striped table-bordered m-0">
                <thead>
                <tr>
                    <th>User</th>
                    <th style="width: 1rem;"></th>
                </tr>
                </thead>
                <tbody>
                {% for user_obj in subscriptions %}
                    <tr>
                        <td class="align-middle"><a
                                href="{% url 'user_detail' user_obj.pk %}">{{ user_obj.username }}</a></td>
                        <td>{% include 'user/unsubscribe_button.html' with unsub_user=user_obj %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="alert alert-info mb-4">You are not subscribed to any users.</div>
    {% endif %}
    {% if is_paginated %}<div class="mb-4">{% paginator 2 %}</div>{% endif %}
{% endblock %}