{% extends "base.html" %}

{% block title %}User: {{ user_obj.username }} – {% endblock %}

{% block home_li_tags %}{% endblock %}

{% block userpage_li_tags %}{% if user == user_obj %} active{% endif %}{% endblock %}

{% load subscribedto %}
{% load templatevisible %}
{% load addforms %}

{% block content %}
    {% with is_subscribed_to=request.user|subscribedto:user_obj %}
        <div class="row">
            <h2 class="col-12 col-md-auto mb-4 text-truncate">
                {{ user_obj.username }}{% if user == user_obj %}
                    <small class="text-muted">(You)</small>{% endif %}
            </h2>
            {% if user.pk != user_obj.pk %}
                <div class="col-12 col-md-auto ml-auto mb-4">
                    {% if not is_subscribed_to %}
                        {% with subscribe_form=user_obj|subscribe_form %}
                            {% include 'user/subscribe_form.html' with sub_user=user_obj %}
                        {% endwith %}
                    {% else %}
                        {% include 'user/unsubscribe_button.html' with unsub_user=user_obj %}
                    {% endif %}
                </div>
            {% endif %}
        </div>


        <h3>General information</h3>
        <dl class="mb-4">
            <dt>Number of subscribers:</dt>
            <dd>{{ num_subscribers }}</dd>

            <dt>Number of templates:</dt>
            <dd>{{ num_templates }}</dd>

            <dt>Number of public templates:</dt>
            <dd>{{ num_public_templates }}{% if num_templates > 0 %} ({{ public_percent }}%){% endif %}</dd>

            {% if user == user_obj %}
                <dt>API token:</dt>
                {% if token %}
                    <dd>
                        <span class="d-inline-block text-truncate mw-100 align-middle">{{ token }}</span>
                        <span class="d-inline-block align-middle">(<a href="{% url 'api_token' %}">Create new API token</a>)</span>
                    </dd>
                {% else %}
                    <dd><a href="{% url 'api_token' %}">Create API token</a></dd>
                {% endif %}
            {% endif %}
        </dl>

        <h3>Templates</h3>
        {% with templates=user_obj.template_set.all|getvisiblefor:user|dictsort:"name.lower" %}
            {% if templates %}
                <div class="mb-4 table-responsive">{% include 'template/template_overview_table.html' %}</div>
            {% else %}
                <div class="alert alert-secondary mb-4">This user does not have any public templates.</div>
            {% endif %}
        {% endwith %}
    {% endwith %}
{% endblock %}